*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-block: 8px;
    background-color: black;
    display: grid;
    place-content: center;
}
.galeria{
    display: coluns;
    columns: 3;
    color: black;
    text-align: center;
    
}
.galeria img{
    width: 100%;
    padding-block: 4px;
    border: 2px solid white;

}
.galeria div{
    position: relative;
    text-align: center;
}
div p{
    position: absolute;
    color: white;
    width: 100%;
    bottom: 6px;
    text-align: center;
    font-size: 24px;
    background-color: #fff4;
}